* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v26_240 {
  width: 100%;
  height: 4264px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_1025 {
  width: 100%;
  height: 100%;
  background: rgba(230,222,203,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_241 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 391px;
  left: 50px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v26_246 {
  width: 603px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 219px;
  left: 50px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v32_1023 {
  width: 786px;
  color: rgba(230,222,203,1);
  position: absolute;
  top: 1112px;
  left: 846px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v32_1064 {
  width: 326px;
  color: rgba(230,222,203,1);
  position: absolute;
  top: 1357px;
  left: 50px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v32_1038 {
  width: 786px;
  color: rgba(230,222,203,1);
  position: absolute;
  top: 3286px;
  left: 327px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v32_1040 {
  width: 437px;
  height: 431px;
  background: rgba(230,222,203,1);
  opacity: 1;
  position: absolute;
  top: 3443px;
  left: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v32_1048 {
  width: 304px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3478px;
  left: 117px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v32_1044 {
  width: 437px;
  height: 431px;
  background: rgba(230,222,203,1);
  opacity: 1;
  position: absolute;
  top: 3443px;
  left: 501px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v32_1050 {
  width: 304px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3478px;
  left: 568px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v32_1046 {
  width: 437px;
  height: 431px;
  background: rgba(230,222,203,1);
  opacity: 1;
  position: absolute;
  top: 3443px;
  left: 953px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v32_1052 {
  width: 304px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3478px;
  left: 1020px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v32_1054 {
  width: 362px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3659px;
  left: 88px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v32_1056 {
  width: 362px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3659px;
  left: 539px;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v32_1058 {
  width: 362px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3659px;
  left: 991px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v32_1062 {
  width: 889px;
  color: rgba(230,222,203,1);
  position: absolute;
  top: 3986px;
  left: 501px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v32_1225 {
  width: 216px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 78px;
  left: 50px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v32_1226 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 78px;
  left: 1158px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v32_1066 {
  width: 655px;
  color: rgba(230,222,203,1);
  position: absolute;
  top: 1527px;
  left: 56px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v32_1070 {
  width: 685px;
  color: rgba(230,222,203,1);
  position: absolute;
  top: 2031px;
  left: 56px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v60_4 {
  width: 618px;
  color: rgba(230,222,203,1);
  position: absolute;
  top: 1527px;
  left: 772px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v60_6 {
  width: 685px;
  height: 307px;
  background: rgba(230,222,203,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2763px;
  left: 56px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v32_1067 {
  width: 566px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 69px;
  left: 59px;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v61_18 {
  width: 322px;
  height: 65px;
  background: rgba(230,222,203,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2352px;
  left: 1068px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  overflow: hidden;
}
.v61_19 {
  width: 566px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 122px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v60_7 {
  width: 618px;
  height: 307px;
  background: rgba(230,222,203,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2763px;
  left: 772px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v60_8 {
  width: 517px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 83px;
  left: 50px;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v32_1029 {
  width: 483px;
  color: rgba(230,222,203,1);
  position: absolute;
  top: 1209px;
  left: 902px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v32_1061 {
  width: 366px;
  color: rgba(230,222,203,1);
  position: absolute;
  top: 3982px;
  left: 51px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v63_52 {
  width: 117px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 661px;
  overflow: hidden;
}
.v63_53 {
  width: 16px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 89px;
}
.v63_54 {
  width: 15px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 15px;
}
.v63_55 {
  width: 12px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 32px;
}
.v63_56 {
  width: 8px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 64px;
}
.v63_57 {
  width: 16px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 26px;
}
.v63_58 {
  width: 16px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 44px;
}
.v63_59 {
  width: 18px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 72px;
}
.v63_60 {
  width: 5px;
  height: 4px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 35px;
}
.v63_61 {
  width: 13px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 1px;
}
.v63_62 {
  width: 11px;
  height: 22px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 75px;
}
.v63_63 {
  width: 8px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 106px;
}
.v63_64 {
  width: 8px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 17px;
}
.v63_65 {
  width: 8px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 62px;
}
.v63_66 {
  width: 8px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 108px;
}
.v63_67 {
  width: 16px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 46px;
}
.v63_68 {
  width: 15px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 92px;
}
.v63_69 {
  width: 16px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
}
